/* EARNINGS */

.earnings {
    background-color: #0D0D2B;
    /* position: absolute; */
    text-align: center;
    padding-bottom: 12em;
    width: 100%;

}

.earnings .col {
    margin: 0 auto;
}

.earnings h2 {
    max-width: 700px;
}




/* EARNINGS */

.earnings {
    background-color: #0D0D2B;
    /* position: absolute; */
    text-align: center;
    padding-bottom: 12em;
    width: 100%;

}

.earnings .col {
    margin: 0 auto;
}